

/* custom breakpoint */
@media only screen and (min-width : 1300px) {
    .sticky-top {
        left: 10%;
    }
}   

/* all desktop devices */
@media only screen and (min-width : 993px) {
	.single-post .main-container,
    .single-blog .main-container {
        margin-top: -450px;
	}

	.overlay .flex-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	} 

	.overlay .col-md-6.hidden-xs {
		display: flex;
		flex-direction: column;
		align-items: center;	
	}
}

/* Fix bg on 404 landscape */
@media only screen and (max-device-width : 1024px) and (orientation : landscape) { 
	.error404 .content-inner {
		display: block;
	}
}


/* only large and medium devices */
@media only screen and (min-width : 769px) {

    
	.row.foot {
		margin-right: 10px;
	}
	.row.address {
		margin-right: 18px;
	}
}

/* custom breakpoint */
@media only screen and (max-height: 650px) {
	.overlay-footer {
		display: none;
	}
}
 
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	.header-section-bottom {
		display: none;
	}
	
	h3{
		line-height: 38px;
		font-size: 33px;
	}
	p{
		font-size: 14px;
	}
	
	/*BOOTCAMP BOX*/
	.bootcamp-box .box.schedule h3{
		line-height: 51px;
		font-size: 46px;
		margin-bottom: 62px;
	}
	.trapezoid::after{
		width: calc(25% + 26px);
	}
	/*HEADER*/
	.header-section-bottom .highlight-text {
		padding-right: 20px;
	}
	.home-slider h1 {
		line-height: 67px;
		margin-bottom: 25px;
		
	}
	.home-slider-left {
		padding-right: 75px;
	}
	.home-slider-container .slick-dots {
		right: 20px;
	}
	.about-section .image-caption {
		padding-top: 102px;
		padding-left: 148px;
	}
	.article-slider .col-md-6:last-child {
		padding: 19px 84px 0 29px;
	}	
}


/* custom breakpoint */
@media screen and (max-width: 1024px) {
	
	/* Hide main menu */
	#navbar {
		display: none;
	}
    
	.stories .btn-container {
		transform: translateY(55px);
	}
    
}



/* Medium Devices */
@media only screen and (max-width : 992px) {

	.bootcamp-box .schedule:after {
		content: none;
	}

	.overlay-menu {
		padding-bottom: 20px;
	}

	.custom-sidebar {
		padding-left: 0;
	}
 
	.right-nav {
		width: 50px;
		height: 50px;
	}
	footer .row.address [class*="col-"] {
		margin-top: 30px;
	}
	.hamburger{
		margin-top: 0;	
	}
	.top-menu .menu-item {
		padding: 10px 11px;	
	}
	.header-section-bottom{
		background: transparent;
	}
	.overlay.open {
		padding: 0;
	}
	.logo-menu-overlay {
		position: relative;
		left: 0;
	}
	.menu-right-nav-menu .menu-item{
		padding-bottom: 16px;	
	}
	.overlay-menu{
		margin-top: 35px;	
	}
	.menu-right-nav-menu .menu-item-link {
		font-size: 19px;
		padding: 6px 46px 6px 0px;
	}
	.menu-right-nav-menu {
		border-right: none;
	}
	.menu-right-nav-menu .menu-item-link:hover {
		background:none;
		box-shadow: none;
	}
	.overlay-footer {
		height: 67px;
	}
	/*BOOTCAMP BOX*/
	.bootcamp-box .box.schedule h3 {
		line-height: 36px;
		font-size: 35px;
		margin-bottom: 25px;
	}
	.bootcamp-box .box.dates-label {
		padding: 43px 13px 20px 20px;
	}
	.row.display-flex > [class*="col-"]:nth-child(1)::after {
		right: -117px;
	}
	.trapezoid::after{
		width: calc(25% + -16px);
	}
	.about-images-container{
		width: 580px;
		margin: 0 auto;
		height: 570px;
	}
	.about-section .image-caption {
		padding-left: 271px;
	}
	.single-post .left-sidebar {
		position: relative;
		top: 0;
		left: 0;
	}
	.left-sidebar .social-share {
		margin-top: 0;
	}
	.swp_social_panel:not(.nc_floater):not(.swp_social_panelSide) {
		width: auto !important;
	}
	.single-post .left-sidebar > div {
		float: left;
		margin-right: 20px;
	}
	.single-post .swp_social_panel {	
		position: relative;
		margin: 5px !important;
	}
	.single-post .blog-featured-img{
		margin: 40px 0px;
	}
	.join-events-btn-container{
		margin: 0 auto;	
	}	
	.home-slider-left {
		padding-right: 15px;
	}
	.person.big.right .text-container{
		padding-left: 0;
		padding-right: 0px;
	}
	.person.big.left .text-container {
		padding-right: 0px;
	}
	.financial .button-container,
	.events .button-container {
		position: absolute;
		transform: rotate(0deg);
		left: 0;
		top: -33px;
		right: 0;
	}
	.vertical-btn {
		position: relative;
		left: 0;
		right: 0;
	}
	.article-slider .col-md-6:last-child {
		padding: 60px 0;
	}
	.btn-lines::before,
	.btn-lines::after {
		bottom: 20px;
	}
	.btn-lines-yellow::after,
	.btn-lines-yellow::before {
		bottom: 5px;
	}
	.page-template-about .slider-nav {
		left: 0;
		right: 0;    	
		top: auto;
		bottom: 42px;
		width: 280px;
		margin: 0 auto;
	}
	.prev, .next{
		float: left;
	}
	.page-template-about .header-section .slider-nav .slider-nav__current-wrapper,
	.page-template-about .header-section .prev, 
	.page-template-about .header-section .next{
		float: left;
		margin-right: 46px;
	}
	.page-template-about .header-section .next{
		margin-right: 0;
	}
	.page-template-about .home-slider .slider-image .frame{
		clear: both;
	}
	.home-slider__text {
		line-height: 23px;	
	}

	.page-template-about .person.big {
		margin-top: 105px;
		padding: 0 15px;
	}
	.person.big .frame {
		margin-bottom: 50px;
	}
	.person.big.left .col-md-6:last-of-type {
		padding-left: 15px;
		padding-right: 15px;
	}
	.person.big .frame,
	.person.big .text-container { 
		width: 100%;
	}
	.person.big.right .frame, 
	.person.big.left .text-container{
		float: none;
	}
	.person.big.right .text-container,
	.person.big.left .frame{
		float: none;
	}
	.bootcamp-desc-image{
		margin-bottom: 45px;
	}
	.header-section-bottom {
		background: linear-gradient(to top, #fff 50%, #000 50%);
	}
	.slider-image{
		width: 83%;
		margin-bottom: 20px;
		margin-left: 24px;
	}
	.bootcamp-stories-item .align-vertical{
		display: block;
	}
	.bootcamp-stories-item {
		margin-right: 0;
		padding: 51px 44px;
		margin-bottom: 56px;
	}
	.bootcamp-stories-item .button-container {
		transform: translateX(0px) translateY(0);
	}
	.bootcamp-stories-item .col-md-2{
		position: absolute;
		left: 0;
		right: 0;
		bottom: -44px;
		margin-bottom: 58px;
	}
	.bootcamp-stories-item .align-vertical,
	.bootcamp-stories-item {
		height: auto;
	}
	.bootcamp-stories-item .align-vertical [class*="col-"]{
		margin-bottom: 20px;
	}
	.blog-header .newsletter {
		padding-left: 0;
	}
	
	.error404 p.title {
		font-size: 65px;
	}
	
	.error404 p.lead {
		font-size: 45px;
	}
	
}


/* all small devices */
@media only screen and (max-width : 991px) {

	.row-location {
		margin-top: 54px;
	}

}

/* iPad Pro 10.5" */
@media only screen and (max-width : 834px) {
	.header-section-bottom .highlight-image {
		max-height: 147px;
		overflow: hidden;
	}
	
}

/* Small Devices, iPad */
@media only screen and (max-width: 767px) {

	.article-slider .sup-title {
		font-size: 12px;
	}

	.bootcamp-desc-image:before,
	.bootcamp-desc-image:after {
		content: none;
	}

	.career .container > div {
		padding:0;
	}

	.equal-pad [class*='col-']:nth-child(1),
	.equal-pad [class*='col-']:nth-child(2),
	.equal-pad [class*='col-']:nth-child(3) {
		padding: 0 20px;
	}

	.menu-right-nav-menu .current_page_item .menu-item-link {
		background-image: none;
	}

	.home-slider-container .slick-dots {
		right: 10px;
	}

	.container {
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.header-section-bottom .col-md-6:nth-child(2) {
		padding-left: 15px;
	}
	
	#timeline-wrapper .timeline-top {
		text-align: right;
		padding-right: 20%;
	}
	body .timeline-block {
		width: 100%;
		height: 100vh;
		position: relative;
	}
	body .timeline-block:after {
		content: "";
		position: absolute;
		height: 100%;
		background-color: #333;
		left: 5%;
		top: 0;
		margin-left: -3px;
		display: none;
	}
	#timeline-wrapper .timeline-block .timeline-events .l-event p.lead1,
	#timeline-wrapper .timeline-block .timeline-events .l-event p.small,
	#timeline-wrapper .timeline-block .timeline-events .r-event .event-body,
	#timeline-wrapper .timeline-block .timeline-events .r-event .event-body p.lead1 {
		padding-right: 0;
		padding-left: 0;
	}
	.timeline-events > .row{
		margin-bottom: 50px;
	}
	#timeline-wrapper .timeline-block .timeline-events .l-event p.lead1 {
		margin-bottom: 16px;
	}
}


/* all extra small devices */
@media only screen and (max-width : 767px) {

	.theme--dark ~ header,
	.theme--light ~ header {
		padding-top: 30px;
	}

	.separator .btn, 
	.separator-left .btn {
		font-size: 25px;
	}

	.bootcamp-box .schedule:after {
		content: none;
	}

	.typical-day .col-md-6 {
		padding-left: 0;
	}
	.container-fluid .container {
		padding: 0 10px;
	}

	.slider-image {
		margin-left: 0;
	}

	section {
		padding: 40px 0;
	}

	div.banner-image {
		margin-top: 40px;
	}

	.transform .image-container {
		padding-bottom: 50px;
	}

	.page-template-about .transform, 
	.page-template-about .where,
	.page-template-about .who {
		padding: 54px 0 35px;
	}

	.footer .row.address [class*="col-"] {
		padding: 0 15px;
	}

	.page-template-about .slider-nav {
		bottom: 20px;
	}

	.page-template-about .home-slider .caption {
		left: 50%;
		transform: translate(-50%,0);
		width: 100%;
	}

	.caption__text.x-small {
		margin: 0;
		text-align: center;
		width: 100%;
	}

	.caption__title {
		display: none;
	}

	.home-slider__text {
		line-height: 18px;
		font-size: 12px;
	}
    
	.navbar-default {
		display: none;
	}
	
	.slick-track {
		padding-top: 0;
	}
    
	.home-slider-left {
		padding-top: 70px;
	}
    
	.article-slider .row {
		padding: 0;
	}

	.about-section {
		padding: 15px 0;
	}

	
	h1{
		font-size: 32px;
		line-height: 40px;
	}
	h3 {
		line-height: 33px;
		font-size: 30px;
	}
	p.normal {
		font-weight: 500;
		line-height: 28px;
		font-size: 16px;
	}
	p.x-small {
		font-size: 12px;
	}
	.btn-large {
		font-size: 24px;
		padding: 12px 32px;
	}
	.btn-lines-yellow {
		font-size: 20.5px;
	}
	.separator button::before,
	.separator button::after {
		bottom: 20px;
	}
	.lined-box::after {
		content:none;
	}
	.article-slider .slider-image::before {
		height: 9px;
		transform: translateY(10px);
	}
	.article-slider .image-row {
		padding-left: 0;	
	}
	.article-slider .col-md-6:last-child {
		padding: 20px 0;
	}
	.stories-slider-container .col-md-6 {
		width: 100%;
		height: auto;
	}
	.stories-slider-container .image-container {
		height: 250px; 
	}
	.stories-slider-container .text-container{
		width: 80%;
	}
	.breadcrumbs {
		margin-bottom: 30px;
	}
	.home-slider .button-wrapper.visible-xs.visible-sm{
		margin-top: 25px;
		margin-bottom: 25px;	
	}
	.home-slider-container {
		padding-top: 0px;
	}
	.bootcamp-investment .button-wrapper,
	.bootcamp-investment .button-wrapper .button {
		width: 70%;
	}
	.bootcamp-investment .button-wrapper .button {
		width: 100%;
	}
	.button-wrapper .button.retro-btn-left::after {
		position: absolute;
		width: calc(100% + 4px);
	}
	.home-slider h1 {
		line-height: 47px;
		margin-bottom: 13px;
	}
	.home-slider .slider-image .frame {
		padding: 10px;
		width: 100%;
	}
	
	.header-section-bottom {
		background: #fff;
	}
	.header-section-bottom .highlight-text {
		width: 50%;
	}
	.home-slider .slider-image .frame img {
		transform: translate(0, 0px);
		-webkit-transform: translate(0px, 0px);
		-moz-transform: translate(0px, 0px);
		-ms-transform: translate(0px, 0px);
		-o-transform: translate(0px, 0px);
	}
	.header-section-bottom .highlight-image {
		transform: translateY(-17px) translateX(25px);
	}
	.header-section-bottom .col-md-6:nth-child(2) {
		padding-left: 15px;
		padding-right: 15px;
	}
	.header-section-bottom .row-highlight {
		padding: 15px;
	}
	
	.education-item {
		padding: 0;
	}
	
	.education {
		padding: 40px 0;
	}
	
	.quote .container{
		padding: 0 40px;
	}
	.quote-text{
		line-height: 30px;
		font-size: 19px;
		padding: 16px 24px;
	}
	.page-template-about .home-slider .slider-image .frame{
		clear: both;
		padding: 0px 0 45px;
	}
	.page-template-about .home-slider .slider-image .frame.with-navigation {
		padding: 0px 0 60px;
	}
	.timeline-block .l-event .event-body::after{
		content: none;
	}
	.bootcamp-investment .bordered-box {
		padding: 45px 20px;
	}
	.quote-author{
		font-size: 13px;
		color: #010203;
		margin-bottom: 21px;
	}
	.bootcamp-box{
		height: auto;
		margin-bottom: 70px;
	}
	.banner-enroll .btn{
		margin-bottom: 20px;
	}
	.banner .input-password {
		width: 100%;
	}
	.bootcamp-box .box.title h2{
		margin-bottom: -4px;
	}
	.bootcamp-box .box.schedule h3{
		margin-bottom: 0px;	
	}
	.trapezoid p.x-small {
		position: relative;
		bottom: auto;
		left: auto;
		padding: 0px 13px 20px 20px;
		line-height: 19px;
		margin: 0;
	}
	.trapezoid{
		border:none;
		height: auto;
		background: #000;
	}
	.trapezoid::after {
		content:none;
	}
	.slick-slider {
		margin:0px;
	}
	.blog-text-slider .borderless-box{
		padding: 20px;
		margin: 0;	
	}
	div.banner-image .row.flex {
		height: auto;
	}
	div.banner-image .flex {
		display: block;
	}
	div.banner-image .text-container{
		padding-bottom: 60px;
	}
	.text-slider h3 {
		padding-top: 15px;
		margin-bottom: 32px;
	}
	.text-slider p {
		margin-top: 10px;
	}

	.text-slider .button-container {
		margin-top: 40px;
		transform: none;
		margin-bottom: 10px;
		height: auto;
	}
	.bootcamp-box .box.title,
	.bootcamp-box .box.dates-label,
	.bootcamp-box .box.schedule {
		padding: 22px 35px 20px 35px;
	}
	.stories-slider-container .text-container {
		width: 100%;
		height: auto;
		margin-top: 30px;
	}
	
	.bootcamp-box [class*="col-"]:nth-child(1) p{
		position: relative;
		left: auto;
		margin-bottom: 0;
		margin-top: 10px;
	}
	.bootcamp-box .box.dates-label{
		margin-top: -33px;	
	}
	.bootcamp-box .btn {
		position: relative;
		bottom: auto;
		width: 175px;
		margin: 0 auto;
		display: block;
		margin-top: 29px;
	}
	.bordered-box br{
		display: none;
	}
	.bootcamp-box .box.dates-label p {
		margin-bottom: -6px;
	}
	.row.display-flex > [class*="col-"]:nth-child(1)::after {
		content:none;
	}
	.row.display-flex {
		display: block;
		height: auto;
	}
	.bootcamp-box .row.display-flex [class*="col-"]:last-child,
	.row.display-flex > [class*="col-"]:nth-child(2) {
		width: 100%;
	}
	.bootcamp-box .box.schedule{
		border-top: 18px solid var(--yellow);
	}
	.bootcamp-box .line{
		margin: 29px -15px 19px -15px;
	}
    
	footer .address-box{
		margin-bottom: 40px;
	}
	.container {
		padding: 0 25px;
	}
	.image-front.image-border{
		position: relative;
	}
	.page-template-blog header {
		padding-top: 0;
	}
	.page-template-blog header .row{
		padding: 0;
	}
	.page-template-blog header .newsletter {
		padding-left: 15px;
	}
	.page-template-blog header .social-navigation ul li a{
		margin-left: -8px;
	}
	.page-template-blog header .newsletter{
		margin-top: 45px;
	}
	.page-template-blog .blog-small-feature {
		margin-bottom: 90px;
	}
	.blog-item-small h2 {
		line-height: 44px;
		font-size: 37px;
	}
	.post-meta ul li:first-child{
		float: none;
	}
	.post-meta ul li:not(:first-child){
		margin-right: 18px;
	}
	.blog-posts-main {
		margin: 80px -15px;
	}
	.post-meta ul li{
		background-size: 14px;	
	}
	.page-template-blog .banner-image .button-container {
		transform: translateY(40px);
		position: relative;
		clear: both;
	}
	.page-template-blog .banner-image .col-image{
		margin: 15px;
		margin-top: 15px;
		margin-top: 0;
		height: 300px;
		background-repeat: no-repeat;
		background-position: center;
	}
	.latest-post .text-col {
		padding: 17px 47px;
	}
	.breadcrumbs .fas, 
	.breadcrumbs .level1{
		display: none;
	}
	.header-text .col-md-9 {
		padding-left: 0;	
	}
	header .row .header-text{
		padding-left: 15px;
	}
	.blog-title{
		font-size: 37px;	
		line-height: 43px;
	}
	header.blog .post-meta ul li{
		float: left;
	}
	header.blog .author-col {
		padding-left: 0;
	}
	.blog-featured-img::before {
		transform: translateY(9px);
		height: 7px;
	}
	header.blog .post-meta ul li {
		margin-right: 22px;
	}
	.related-image {
		height: 1px;
	}
	/*ABOUT*/
	.about-section .row .col-md-6:last-child {
		padding:15px;
	}
	.about-images-container .image-front{
		position: relative;
		text-align: center;
	}
	.about-images-container .image-front img{
		border: 2px solid #000;
		padding: 14px;
	}
	.about-images-container .image-front > div:before{
		content: "";
		display: inline-block;
		width: 42%;
		height: 8px;
		background-color: var(--blue);
		margin: 0 auto;
		transform: translateY(9px);
		z-index: 1;
	}
	.quote-top::before{
		height: 8px;
		transform: translateY(-9px) skew(38deg);
	}
	.about-images-container {
		width: auto;
		margin: 0 auto;
		height: auto;
		margin-bottom: 50px;
	}
    
	.lined-box::before {
		content: none;
	}
	.blog-bottom img{
		max-width: 170px;
	}
	.team .row-vector .image-container::after {
		content: none;
	}
	.team .image-container.pull-right,
	.team .image-container.pull-left {
		float: none !important;
		text-align: center;
	}
	.team .image-container.pull-right {
		margin-left: 0;
	}
	.team .lead2 {
		text-align: center;
	}
	.team .image-container.pull-left {
		margin-right: 0;
	}
	.blog-headlines .blog-item-small:first-child{
		margin-bottom: 28px;
	}
	.blog-item-small {
		padding-bottom: 28px;
	}
	.about-section .image-caption {
		padding-left: 20px;
		padding-top: 10px;
		text-align: left;
	}
	.location_1{
		margin: 0 -25px;
	}
	.stories .lined-box {
		padding: 0 15px;
	}
	.play-button-outer {
		margin:0;
		width: 100%;
		height: auto;
		opacity: 1;
		box-shadow: none;
	}
	.stories .lined-box .image-label {
		left: 15px;
		position: relative;
		bottom: -4px;
	}
	.stories-slider-container .text-container{
		border-width: 1px;
		padding: 15px 0;
	}
	.stories-slider-container p.small {
		margin-bottom:0;
	}
	
	.job-item{
		height: auto;
		padding: 14px 0;
	}
	.job-item .row {
		display: block;
		height: auto;
	}
	.job-item .round-btn{
		top: calc(50% - 19px);
	}
	.row.filter-job form{
		margin-bottom: 20px;
	}

	.financial .main-box.bordered-box,
	.events .container > .bordered-box{
		border-left: none;
		border-right: none;
		padding: 90px 25px 0;
	}

	.financial .align-vertical,
	.events .align-vertical {
		display: block;
	}
	.event-item .event-month {
		margin-bottom: 30px;
	}
	.financial__link,
	.link-event{
		position: absolute;
		width: 100%;
		text-align: center;
		left: 0;
	}
	.event-item-text {
		padding-left: 0;
		padding-right: 0;
	}
	.event-item.bordered-box {
		padding: 24px 25px;
	}
	.event-item p.small {
		margin-bottom: 34px;
	}	
	.event-item{
		margin-bottom: 85px;
	}
	.right-nav{
		width: 100%;
	}
	.hamburger{
		height: 50px;
		float: right;
	}
	.hamburger-box {
		position: relative;
		display: block;
		width: 16px;
		height: 19px;
	}
	.logo-mobile{
		height: 44px;
		padding: 5px 0 0 25px;
	}
	.overlay-menu {
		margin-top: 77px;
	}

	.circle-line:before {
		width: 11px;
		height: 11px;
	}

	.circle-line:after {
		border-top: 3px solid #000;
	}

	.circle-line.white:before {
		border: 3px solid #fff;
	}

	.circle-line.white:after {
		left: 5px;
		border-top: 3px solid #fff;
		width: 21px;
	}

	span.circle-line {
		margin-right: 40px
	}
	.job-item .row {
		text-align: center;
	}
	.job-item .row >[class*='col-']{
		padding: 17px 0;
	}
	.footer-bottom-menu{
		display: none;
	}	
	
	
	.error404 p.title {
		font-size: 50px;
	}
	
	.error404 p.lead {
		font-size: 40px;
	}

}


/* extra small devices, iPhones */ 
@media only screen and (max-width: 480px) {


	.circle-line:before,
	.circle-line:after {
		border-width: 2px;
	}


	.circle-line:after {
		width: 25px;
	}

	.level0,
	.lead1 {
		font-size: 20px;
		position: relative;
	}

	.circle-line {
		left: 5px;
	}
    
	.stories .btn-container {
		transform: translateY(23px);
	}
	
	.home-slider .slider-image  {
		width: auto;
		margin-left: 0;
	}
	.slider-image {
		width: 100%;
	}
	

	
	.stories-slider-container .col-md-6:first-child {
		height: 200px;
	}
	
	.stories-slider-container p,
	.stories-slider-container .lead3 {
		margin: 0;
	}
	
	.home-slider h1 {
		font-size: 35px;
		line-height: 47px;
	}

	.separator.separator--two-lines .button-container {
		transform: translateY(-75px);
	}

	.separator.separator--mobile {
		margin-top: 117px;
	}

	.separator.separator--mobile .button-container {
		transform: translateY(-117px);
	}
	
	.error404 .gif-container img {
		max-width: 250px;
	}
	.ajax-load-more-wrap ul.alm-listing li.grid-item{
		width: 100%;
		margin: 0 0 20px;  
	}
	
	/*PAGE 404*/
	
	.error404 .gif-container,
	.error404 p.title,
	.error404 p.lead {
		margin-bottom: 15px;
	}
	.error404 p.title {
		font-size: 40px;
	}
	
	.error404 .btn-yellow {
		margin-top: 0;
	}
	
	.error404 p.lead {
		font-size: 30px;
	}
	
	/*PAGE STORIES*/
	
	.all-stories .feat-video .lined-box{
		margin-left: 0px;
	}
}


